$primary-color: #FFE600;
$background-color: #EEEEEE;
$text-primary-color: #333333;
$text-secondary-color: #999999;
$button-primary-color: #3483FA;
$color-white: #FFFFFF;
$color-black: #000000;

$max-column-width: 1200px;
